@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --nav-color:#EEEEEE;
}

body{
    width: 100vw;
    height: 100%;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Mukta", sans-serif;
}

nav{
    width: 20vw;
    height: 100vh;
    background: var(--nav-color);
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    border-right: 1px solid rgb(109, 109, 109);
}

nav a{
    text-decoration: none;
    color: black;
}

main{
    width: 80vw;
    height: 100%;
    background: aliceblue;
    overflow-x: hidden;
}

.nav_title{
    width: 20vw;
    padding: 10px 5px;
    cursor: default;
    text-align: center;
}

.nav_content{
    text-align: center;
}

.nav_li{
    padding: 5px 0;
    list-style-type: none;
    cursor: pointer;
}

.nav_li:hover{
    border-right: 1px solid black;
}

#introduction{
    width: 100%;
    height: max-content;
    padding: 20px;
}
#introduction h1{
    padding-bottom: 20px;
    text-align: center;
}

#introduction p{
    cursor: pointer;
    text-align: justify;
}

#main_section{
    width: 100%;
    height: 300px;
    padding: 30px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    overflow: hidden;
    border-bottom: 1px solid black;
}

.section_content h2{
    padding-bottom: 20px;
    cursor: default;
}

.section_content p{
    text-align: justify;
    cursor: default;
}

.section_content a{
    text-decoration: none;
    color: rgb(57, 57, 243);
}

/* Media Queries  */

@media (320px <= width <= 375px) { 
    nav{
        width: 40vw;
    }
    nav li{
        font-size: 8px;
    }
    .nav_title{
        width: 40vw;
        font-size: 8px;
    }
    main{
        width: 60vw;
    }
    #introduction{
        width: 100%;
        height: max-content;
        padding: 20px;
    }
    #introduction h1{
        font-size: 12px;
    }
    #introduction p{
        font-size: 8px;
    }
    #main_section{
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    #main_section h2{
        font-size: 12px;
    }
    #main_section p{
        font-size: 8px;
    }
    #main_section h4{
        font-size: 8px;
    }
}

@media (375px < width <= 425px) {
    nav{
        width: 40vw;
    }
    nav li{
        font-size: 9px;
    }
    .nav_title{
        width: 40vw;
        font-size: 9px;
    }
    main{
        width: 60vw;
    }
    #introduction{
        width: 100%;
        height: max-content;
        padding: 20px;
    }
    #introduction h1{
        font-size: 13px;
    }
    #introduction p{
        font-size: 9px;
    }
    #main_section{
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    #main_section h2{
        font-size: 13px;
    }
    #main_section p{
        font-size: 9px;
    }
    #main_section h4{
        font-size: 9px;
    }
}

@media (425px < width <= 768px) {
    nav{
        width: 40vw;
    }
    nav li{
        font-size: 10px;
    }
    .nav_title{
        width: 40vw;
        font-size: 10px;
    }
    main{
        width: 60vw;
    }
    #introduction{
        width: 100%;
        height: max-content;
        padding: 20px;
    }
    #introduction h1{
        font-size: 14px;
    }
    #introduction p{
        font-size: 10px;
    }
    #main_section{
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    #main_section h2{
        font-size: 14px;
    }
    #main_section p{
        font-size: 10px;
    }
    #main_section h4{
        font-size: 10px;
    }
}

@media (768px < width <= 1024px) {
    nav{
        width: 40vw;
    }
    nav li{
        font-size: 12px;
    }
    .nav_title{
        width: 40vw;
        font-size: 12px;
    }
    main{
        width: 60vw;
    }
    #introduction{
        width: 100%;
        height: max-content;
        padding: 20px;
    }
    #introduction h1{
        font-size: 16px;
    }
    #introduction p{
        font-size: 12px;
    }
    #main_section{
        flex-direction: column;
        height: max-content;
        padding: 20px;
    }
    #main_section h2{
        font-size: 16px;
    }
    #main_section p{
        font-size: 12px;
    }
    #main_section h4{
        font-size: 12px;
    }
    
}